/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
  .basic-container {
    padding: 30px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }

  .authForm{
    margin-top: 4%;
  }

  .half-width {
    width: 44%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .full-width {
    margin-top: 4%;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
  }

  .full-width--left {
    margin-top: 4%;
    width: 100%;
    text-align: left;
  }

  .loading,
  .loading:after,
  .loading:before {
    content: ' ';

    top: 0;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    animation: spinner 1600ms infinite ease-in-out;
  }

  .loading {
    position: relative;

    margin: 64px auto;

    color: #555;

    animation-delay: -160ms;
  }

  .loading:after {
    left: 64px;
  }

  .loading:before {
    left: -64px;

    animation-delay: -320ms;
  }

  .loading:after,
  .loading:before {
    position: absolute;
  }
  .box-container {
    box-sizing: border-box;
    width: 800px;
    height: 500px;
    max-width: 90%;
    max-height: 90%;
    padding: 24px;
    margin: 24px auto;
    border-radius: 4px;
  
    color: #555;
    background-color: #eee;
    box-shadow:
      0 6px 20px rgba(0, 0, 0, 0.18),
      0 6px 6px rgba(0, 0, 0, 0.25);
  }